$purple: #6b59cc; // button
$purpleLite: #e9e6f7; // button bg
$yellow: #fcd57b; // button
$yellowLite: #fcf5e3; // button bg
$red: #fd4c50; // button notification

$gray: #8f92a1; // text
$grayLite: #f5f5fa; // bg
$grayShadow: #e2e2ea; // border
$blackCoal: #1a1c1d; // text
$black: #000;
$white: #fff;

body {
  font-family: 'DM Sans', sans-serif;
}
